.popup{
  display: flex;
  gap: 10px;
  
  img{
     width: 60px;
     height: 45px;
     border-radius: 5px;
     object-fit: cover;
  }

  .textContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
  }
}
